@page "/"

<PageTitle>Home</PageTitle>

<h3>Random Button (serverside rendering, non-interactiv - "orf.at")</h3>

<RandomButton/>

<h3>Random Button (serverside rendering, interactive)</h3>

<RandomButton @rendermode="InteractiveServer" Max="1000"/>

<h3>Random Button (clientside rendering (interactive))</h3>

<RandomButton @rendermode="InteractiveWebAssembly" Max="1000" />

<h3>Random Button (interactive auto)</h3>

<RandomButton @rendermode="Auto" Max="1000" />