@page "/"

<PageTitle>Home</PageTitle>

<h3>Random Button (serverside rendering, non-interactiv - "orf.at")</h3>

<RandomButton/>

<h3>Random Button (serverside rendering, interactive)</h3>

<RandomButton @rendermode="InteractiveServer" Max="1000"/>